.tick line {
  stroke: #c0c0bb;
}
.tick text {
  fill: #635f5d;
}
.mark {
  fill: #0f8c79;
  stroke: #6bbba1;
}
.line circle {
  fill: #e25a42;
}
.line path {
  fill: none;
  stroke: #bd2d28;
  stroke-width: 2;
  stroke-linejoin: round;
  stroke-linecap: round;
}
.axis-lable {
  font-size: 1.2em;
  fill: #635f5d;
}

#graph {
  display: flex;
  flex-direction: column;
  align-items: center;
}
